.post {
	display: block;
}

h1.title {
	display: inline-block;
	margin: 8px;
	font-size: 28px;
}

a.title, a.title:hover, a.title:visited, a.title:active {
	color: inherit;
	text-decoration: none;
}

h4.date {
	display: inline-block;
	float: right;
	margin-top: 8px;
	margin-right: 20px;
	color: #BBDDFF;
	font-size: 16px;
}

p {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	color: #1D1D1D;
}

a.readmore, a.readmore:active, a.readmore:visited {
	text-decoration: none;
	color: #E8E8E8;
	margin-left: 26px;
	margin-top: 10px;
	font-size: 16px;
	display: block;
}

a.readmore:hover {
	color: #CCCCCC;
}

hr {
	border: 0;
	border-bottom: 2px dashed #9A9A9A;
}

a.arrow, a.arrow:active, a.arrow:visited {
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #BBDDFF;
	font-family: 'PT Sans', sans-serif;
}

a.arrow:hover {
	color: #CCCCFF;
}

a#prev {
	float: left;
	margin-left: 10px;
}

a#next {
	float: right;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: #BDF;
}

a#nomore {
	float: right;
	margin-right: 10px;
	font-size: 14px;
}

@media only screen and (max-width: 779px) {
	h4.date {
		display: inline-block;
		margin: 0;
	}

	h1.title {
	}
}
