<head>
	<meta charset="UTF-8">
	<meta name="author" content="Brian Hong">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="/css/blog.css" />
	<link rel="icon" href="/images/favicon.ico">
	<title> {% if page.blog_title %}{{ page.blog_title }} :: Brian Hong{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} </title>
</head>